<html>
    <head>
        <title>Moppedijk</title> 
        <meta http-equiv="Content-Type" content="text / html;charset = UTF-8">
    </head>
    <body style="font-family: Arial, Helvetica, sans - serif; color: #b0b0b0;">
        <table align="center" cellspacing = "0" cellpadding = "0" style = "background-color: #efefef; width: 600px;">
            <tbody>
                <tr>
                    <td style="padding-left: 24px; padding-right: 24px;">
                        <table cellspacing="0" cellpadding = "0" style="width: 552px; margin-top: 20px;">
                            <tbody>
                                <tr>
                                    <td style="height: 6px; width: 552px;"></td>
                                </tr>
                                <tr>
                                    <td style="border-left: 1px solid #e3e3e3; border-right: 1px solid #e3e3e3; border-top: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3; background-color: #FFF;">
                                        <table cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td style="padding-top: 55px; padding-bottom: 30px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000; padding-left: 40px; padding-right: 40px; line-height: 21px;">
                                                        <span style="font-family: Arial, Helvetica, sans-serif; font-size: 30px; color: #bf3931;">Hi! {{ name }}</span>
                                                        <br/>
                                                        <br/>
                                                        Bedankt voor je bericht!
                                                        <br/> 
                                                        <br/> 
                                                        Ik probeer zo snel mogelijk contact met je op te nemen! Lees hieronder jouw bericht.
                                                        <br/>
                                                        <br/>
                                                        Cheers, <br/>Martijn Oppedijk
                                                        <br/>
                                                        <a href="mailto: martijn.oppedijk@gmail.com" target="_blank" style="border: none; outline: none; -moz-user-select: none; -webkit-user-select: none; user-select: none; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #bf3931;">martijn.oppedijk@gmail.com</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 20px; padding-bottom: 20px; padding-left: 40px; padding-right: 40px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #b0b0b0;  line-height: 15px;">
                        Van deze e-mail is een copy gestuurd naar martijn.oppedijk@gmail.com                        
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>