<mo-container>
    <mo-section>
        <mo-row>
            <mo-col>
                <h1>Martijn Oppedijk - Software Architect</h1>
                <p>Frontend developer met een achtergrond in digital advertisement en software development. Hij is leergierig, resultaatgericht en houdt van problemen oplossen. Door zijn achtergrond (werkervaring en studie) heeft hij kennis van digitale producten met een sterke focus op Javascript.</p>
            </mo-col>
        </mo-row>
    </mo-section>
</mo-container>