<mo-container [config]="config">
    <mo-section color="light">
        <mo-row>
            <mo-col>
                <mo-introduction
                    title="Martijn Oppedijk"
                    lead="Frontend developer met een achtergrond in digital advertisement en software development.">
                    Martijn is leergierig, resultaatgericht en houdt van problemen oplossen. Door zijn achtergrond (werkervaring en studie) heeft hij kennis van digitale producten met een sterke focus op Javascript.
                </mo-introduction>
            </mo-col>
        </mo-row>
    </mo-section>
    <mo-section color="primary">
        <mo-row>
            <mo-col>
                <h2 class="text-light">Interesses</h2>
                <mo-tag-search 
                    [tags]="interests">
                </mo-tag-search>
            </mo-col>
        </mo-row>
    </mo-section>
    <mo-section color="light">
        <mo-row>
            <mo-col>
                <h2>Sociaal</h2>
                <p>Voeg me toe op:</p>
                <mo-button-anker color="primary" link="https://www.linkedin.com/in/martijnoppedijk">Linkedin</mo-button-anker>
            </mo-col>
        </mo-row>
    </mo-section>
</mo-container>