<mo-container [config]="config">
    <mo-section color="light">
        <mo-row>
            <mo-col>
                <h1>Martijn Oppedijk - Software Architect</h1>
                <p>Frontend developer met een achtergrond in digital advertisement en software development. Martijn is leergierig, resultaatgericht en houdt van problemen oplossen. Door zijn achtergrond (werkervaring en studie) heeft hij kennis van digitale producten met een sterke focus op Javascript.</p>
            </mo-col>
        </mo-row>
    </mo-section>
    <mo-section color="primary">
        <mo-row>
            <mo-col>
                <h2 class="text-light">Things I like</h2>
                <p>
                    <mo-tag
                        *ngFor="let interest of interests">
                        {{ interest }}
                    </mo-tag>
                </p>
            </mo-col>
        </mo-row>
    </mo-section>
    <mo-section color="light">
        <mo-row>
            <mo-col>
                <h2>Social</h2>
                <mo-button color="primary" (click)="navigateToLinkedIn()">Linkedin</mo-button>
            </mo-col>
        </mo-row>
    </mo-section>
</mo-container>